//COlORS
$red-primary: #FF6961;

$red-primary-dark: #E3504B;


$blue-primary: #02b8d8;

$blue-primary-dark: #0085A8;


$green-primary: #4ce64c;

$green-primary-dark: #43AB49;


$yellow-primary: #fbff00;

$yellow-primary-dark: #F5BB00;


$black-primary: #121212;

$black-primary-light: #534e50;


$orange-primary: #ff6337;

$orange-primary-dark: #df4d19;


$purple-primary: #9b59b6;

$purple-primary-dark: #8e44ad;


$pink-primary: #e84393;

$pink-primary-light: #fd79a8;

//COLOR COMBINATIONS


